<!--
  Generated template for the AddbookdronenewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="secondary">
    <ion-title >ยืนยัน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card class="cards-list-demo">
    <ion-card-header>
      Explore Nearby
    </ion-card-header>
  </ion-card> -->

<ion-row *ngFor="let d of data">
  <ion-col col-9 col-sm-9 col-md-6 col-lg-4 col-xl-3>
  <ion-list >
    <button ion-item  color="danger" >รายการจอง : </button>
  </ion-list >
  </ion-col>
 
</ion-row>

  <div> <button class="add" ion-button color="danger" block (click)="AddBook()" >+</button> </div>
 
  



  <ion-item>
    <ion-label color="primary">ราคารวม</ion-label>
    <ion-input [(ngModel)]="p"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>วัน/เดือน/ปี</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="month"></ion-datetime>
  </ion-item>


  <ion-item>
    <ion-label floating>ช่องทางการจ่ายเงิน</ion-label>
    <ion-select [(ngModel)]="payment_chanal_id">
      <ion-option [value]="u.id" *ngFor="let u of paymentchanalp">
        {{ u.chanal }}
      </ion-option>
    </ion-select>
  </ion-item>



  <div> <button  ion-button color="secondary" block (click)="saveAddBook()" >บันทึก</button></div>
</ion-content>
